body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient( rgb(102, 102, 102), rgb(3, 1, 22));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.flex_row_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}